# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
.DS_Store

# Needle
**/node_modules
projects/*/.idea
projects/*/.vs
projects/*/obj
projects/*/temp
projects/*/Library
projects/*/Logs
projects/*/*.csproj
projects/*/*.sln
projects/*/bin
projects/**/UserSettings
projects/**/build.log
**/Needle Samples FTP.**
projects/*/*.sln.DotSettings.user
projects/**/FTPServer.asset*
needle-engine-samples.tgz
**/Lightmaps/LightmapBaker
**/Lightmaps/LightmapBaker.meta
.idea
package/WebProjects~/*/.svelte-kit
package/WebProjects~/*/build
package/Runtime/Particles/Particles
package/Runtime/Particles/Particles.meta
.vsconfig
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
*.nupkg
/packages/*
!/packages/build/
*.nuget.props
*.nuget.targets
**/dist/assets/mesh_lod_*.glb
**/package-lock.json
**/needle.lock
.vscode
**/poster.webp
